# Frameworks e Bibliotecas Principais
streamlit==1.38.0
fastapi==0.115.2
uvicorn==0.32.0

# Processamento de Dados
pandas==2.0.3
numpy==1.24.4

# Requisições HTTP e Web Scraping
requests==2.32.3
beautifulsoup4==4.12.3

# Modelos de Linguagem Natural
transformers==4.31.0
torch==2.0.1

# Validação de Dados
pydantic==2.9.2

# Dependências Adicionais
matplotlib==3.7.5
scipy==1.10.1

